<!DOCTYPE html>
<html>
<head>
	<title>Sathya</title>
 <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
	
		{{>header}}
   <p>{{message1}}</p>

</div>


	

   {{>footer}}
</body>
</html>
